<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("English", "Index", "Tickets", new { language = "en" },null)</li>
    <li>@Html.ActionLink("French", "Index", "Tickets", new { language = "fr" }, null)</li>
</ul>
